@model CarStore.Models.ViewModels.CarListViewModel
@{

}


   <h1>Cars</h1>



    @*<form asp-action="index" method="get">
        <input type="text" name="search" />
        <button type="submit">Search</button>
    </form>*@

 @*@await Html.PartialAsync("CarsList")*@

<div class="form-group">
    <input id="searchText" type="text" class="form-control" />
    <button id="search" class="btn btn-primary">Search</button>
</div>

<div id="car-list">
 
</div>