
@{
//Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Order page</title>
</head>
<body>
    <div>
        <h1>Purchase form</h1>
        <form method="post">
            <input type="hidden" value="@ViewBag.CarId" name="CarId" />
            <div>
                <label>Name: </label>
                <input type="text" name="Name" />
            </div>
            <div>
                <label>Lastname: </label>
                <input type="text" name="Lastname" />
            </div>
            <div>
                <label>PhoneNumber: </label>
                <input type="text" name="PhoneNumber" />
            </div>
            <input type="submit" value="Send"/>
        </form>
    </div>
</body>
</html>
